<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <%- body %>

  <script src="<%- url_for('/js/jquery-3.7.1.min.js') %>"></script>
  <script src="<%- url_for('/js/jquery.justifiedGallery.min.js') %>"></script>
  <script src="<%- url_for('/js/lg-thumbnail.umd.js') %>"></script>
  <script src="<%- url_for('/js/lg-zoom.umd.js') %>"></script>
  <script src="<%- url_for('/js/lightgallery.umd.js') %>"></script>
  <script src="<%- url_for('/js/main.js') %>"></script>
</body>
</html>